@font-face {
  font-family: "Lato";
  src: url("../../res/fonts/Lato/Lato-Regular.ttf");
}

html {
  font-family: Lato;
  background-color: #F9F4EE;
}
body {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
